/* Mobile Styles */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 14px 16px 14px 16px;
  background-color: #3d2218;
  color: white;
  position: relative;
}

.logoIcon {
  width: 165px;
  height: 46px;
  flex-shrink: 0;
}

.iconBurger {
  stroke: #ffffff;
  stroke-width: 2px;
  fill: none;
}

.burgerButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: color 0.2s ease;
}

.burgerButton:hover,
.burgerButton:focus {
  opacity: 0.5;
}

.burgerButton:active {
  opacity: 1;
  border-bottom: 1px solid white;
}

.headerLink {
  display: flex;
  align-items: center;
  gap: 4px;
}

.nav {
  display: none;
  position: absolute;
  top: 74px;
  left: 0;
  right: 0;
  background-color: #3d2218;
  padding: 0;
  z-index: 100;
}

.navOpen {
  display: block;
}

.navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  padding: 18px 16px 40px 16px;
  gap: 32px;
}

.navigationLink {
  font-size: 16px;
  font-weight: 600;
}
.navigation li {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Tablet Styles */
@media (min-width: 768px) {
  .burgerButton {
    display: none;
  }

  .header {
    padding: 14px 32px;
    gap: 32px;
  }

  .nav {
    display: block;
    position: static;
    padding: 0;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }

  .activeLink {
    border-bottom: 2px solid white;
    padding-bottom: 4px;
    transform: translateY(3px);
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 14px 108px;
  }
}
