.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selectGroup {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 296px;

  margin-bottom: 24px;
}

.selectWrapper {
  position: relative;
  width: 100%;
}

.resetButton {
  all: unset;

  background: transparent;
  cursor: pointer;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;

  text-decoration: underline;
  text-underline-offset: 4px;
  font-family: var(--font-family);
  color: #000;

  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .selectGroup {
    flex-direction: column;
    gap: 16px;
  }

  .selectWrapper {
    flex: 1;
  }

}

@media screen and (min-width: 1440px) {
  .controls {
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  .selectGroup {
    flex-direction: row;
    align-items: center;
    gap: 24px;
    margin-bottom: 0;
    width: auto;
  }


  .resetButton {
    order: -1;
    font-size: 14px;
    white-space: nowrap;
  }
}
