.wrapper {
  width: 100%;

}

.counter {
  width: 100%;
  margin: 0;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  color: var(--black);
  margin: 0;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobileHeader {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 16px 0;
}

.mobileFilters {
  position: relative;
  z-index: 100;

  width: 320px;

  margin-top: 16px;

  left: 50%;
  transform: translateX(-50%);

  padding: 16px 12px;

  background: #f8f8f8;
  border: 1px solid var(--light-gray);
  border-radius: 8px;

  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.mobileFiltersHeader {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  align-items: center;

  margin-bottom: 29px;
}

.textFiltersButton {
  font-weight: 600;
  font-size: 12px;
}

.filtersButton {
  display: flex;
  align-items: center;
  gap: 8px;

  width: 67px;
  height: 28px;

  padding: 0;
  margin: 0;

  border: none;
  border-radius: 8px;

  background: transparent;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 12px;

  color: var(--black);

  cursor: pointer;
}

.filtersButton svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.closeButton {
  all: unset;

  width: 15px;
  height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid black;
  border-radius: 50%;

  cursor: pointer;

  color: #050505;
  font-size: 8px;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .mobileFilters {
    width: 320px;
    min-height: 222px;

    top: calc(100% + 16px);
    right: 0;
  }
}

.desktopHeader {
  display: none;
}

@media screen and (min-width: 1440px) {
  .mobileHeader {
    display: none;
  }

  .desktopHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 16px;
    margin-bottom: 16px;
  }
}
