.wrapper {
  border-radius: 16px;
  padding: 40px 24px;
  width: 100%;
  max-width: 361px;
  min-height: 207px;
  box-sizing: border-box;
  background: #faf3e0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 40px;
  padding-bottom: 40;
}

.wrapperOne {
  margin-bottom: 48px;
  margin-top: 48px;
}

.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: black;
  margin-bottom: 15px;
}

.button {
  all: unset;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 54px;
  padding: 16px;

  border: 1px solid black;
  border-radius: 8px;

  background-color: transparent;
  color: var(--black);

  font-weight: 600;
  font-size: 18px;
  line-height: 1;

  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .wrapperOne {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper {
    max-width: 522px;
    width: 100%;
    min-height: 0;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    max-width: 598px;
  }

  .text {
    margin-bottom: 20px;
  }
}
