.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.6);

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;
}

.modal {
  position: relative;
  z-index: 100000;
  width: 345px;
  padding: 40px 32px 32px;
  border-radius: 24px;
  background: #faf3e0;
  text-align: center;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.closeIcon {
  width: 24px;
  height: 24px;

  fill: none;
  stroke: #000;
  stroke-width: 1.5;
}

.title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.text {
  font-size: 14px;
  margin-bottom: 24px;
}

.actions {
  display: flex;
  gap: 8px;
}

.loginBtn,
.registerBtn {
  flex: 1;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginBtn {
  border: 1px solid #000;
  transition:
    background-color 0.3s,
    border-color 0.3s,
    color 0.3s,
    box-shadow 0.3s;
}

.registerBtn {
  background: #9b6c43;
  color: #fff;
}

.registerBtn {
  transition: background-color 0.2s;
}

.registerBtn:hover,
.registerBtn:focus {
  background-color: #6d554b;
}

.loginBtn:hover,
.loginBtn:focus {
  background: var(--light-brown);
  border-color: var(--light-brown);
  color: #fff;
}
