.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  width: 329px;
  height: 46px;
  max-height: 48px;
  padding: 12px 16px;

  border: 1px solid #d9d9d9;
  border-radius: 8px;
  background-color: #fff;
  outline: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1, 5;
  color: #000;
  transition: border-color 250ms ease, box-shadow 250ms ease;
}
.input:focus,
.input:focus-visible {
  border: 1.5px solid #9b6c43;
  box-shadow: 0 0 0 4px rgba(78, 70, 180, 0.2);
}

.input:focus::placeholder {
  color: #000;
}

.button {
  width: 326px;
  height: 46px;

  border: none;
  border-radius: 8px;

  background-color: #9b6c43;

  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 250ms ease;
}
.button:hover,
.button:focus-visible {
  background: #7f5634;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    gap: 12px;

    width: 661px;
  }

  .input {
    width: 459px;
  }

  .button {
    width: 190px;
  }
}

@media screen and (min-width: 1440px) {
  .wrapper {
    gap: 12px;
  }

  .input {
    width: 459px;
    flex-shrink: 0;
  }

  .button {
    width: 190px;
    flex-shrink: 0;
  }
}
