/* Base */
.profile_container {
    padding-top: 48px;
}

.profile_header {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 40px;
    color: var(--black);
    padding-bottom: 16px;
}

/* Desktop (>= 1440px) */
@media (min-width: 1440px) {
    .profile_container {
        padding-top: 46px;
    }
}
