.btn {
  display: none;
}

@media (min-width: 1440px) {
  .btn {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 8px;
    border: none;
    background: #9b6c43;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s ease;
    position: fixed;
    bottom: 118px;
    right: 24px;
    z-index: 100;
  }

  .btn:hover {
    background: #6d554b;
  }
}
